body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 500 px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

/* Homepage */

/* Carousel */
.carousel-size{
  width: 65%;
  height: 40%;
  margin: auto;
}

.carousel-bg{
  background-color:white;
  opacity:0.5;
}

.first-car{
  color:darkblue;
}
.message{
  font-size:30px;
  text-align:center;
}

.footer{
  position:fixed;
  background-color:lightblue;
  text-align:center;
  width:100%;
  left:0;
  bottom:0;
}

/* Nurse card */
.nurse-card{
  text-align:center;
  font-weight:bold;
}

.nurse-image{
  width:650px;
  height:350px;
  /* text-align:center; */
  
}

.first-card{
  width:85%;
  height:15%;
  /* float:right; */
  /* margin:auto; */
}

/* Patient Card */

.second-card{
  width: 100%;
  height:500px;
  
  /* margin:auto; */
}

.patient-image{
  width:650px;
  height:350px;
}



.readygo-info{
  width:55%;
  height:35%;
  margin:auto;
}
.login-jumbo{
  /* background-image: url("./assets/img/medic-team.jpg"); */
  text-align:center;
  width:55%;
  height:45%;
  margin:0 auto;
  background-color: #5ce1e6 ;
}

/* .form-box{
float:center;
} */

.sign-wrapper{
  text-align:center;
  width:55%;
  height:35%;
  margin:auto;
  background-color: #5ce1e6 ;
}
.index-div{
  display: flex;
  justify-content:center;
  /* text-align:center; */
}

/* .mic-page{
  width:55%;
  height:35%;
  margin:auto;
} */

/* About Page */
.readygo-demo{
  background-color: #5ce1e6;
}

.about-headline{
  text-align:center;
  font-weight:bold;
}


/* Mic page- button */
.readygo-button{
  text-align: center;
  /* float:right; */
  height:10%;
  width:90%;
  background-color: #5ce1e6;
}

/* 
.readygo-mic{
  float:right;
} */