body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 500 px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

.begin{
  width: 75%;
  height: 30%;
  margin: auto;
}

 
/* .first-card{
  width:30%;
  height:70%;
  margin:none;
}  */

.message{
  font-size:30px;
  text-align:center;
}

.footer{
  position:fixed;
  background-color:lightblue;
  text-align:center;
  width:100%;
  left:0;
  bottom:0;
}

.nurse-card{
  text-align:center;
  font-weight:bold;
}

.readygo-info{
  width:55%;
  height:35%;
  margin:auto;
}
.login-jumbo{
  /* background-image: url("./assets/img/medic-team.jpg"); */
  width:55%;
  height:35%;
  margin:0 auto;
  /* displ
  text-align:center; */
}

/* .form-box{
float:center;
} */

.sign-wrapper{
  text-align:center;
  width:55%;
  height:35%;
  margin:auto;

}
.index-div{
  display: flex;
  justify-content:center;
  /* text-align:center; */
}

.mic-page{
  width:55%;
  height:35%;
  margin:auto;
}

.readygo{
  background-color: #5ce1e6;
}

.readygo{
  text-align:center;
}